[project]
	description = A playground for writing, building and testing leetcode problems in C++.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yunlong Liu (yliu120)
[access "refs/for/refs/*"]
	read = group user/Yunlong Liu (yliu120)
	push = group user/Yunlong Liu (yliu120)
	label-Code-Review = -2..+2 group user/Yunlong Liu (yliu120)
	label-Verified = -1..+1 group user/Yunlong Liu (yliu120)
	rebase = group user/Yunlong Liu (yliu120)
	removeReviewer = group user/Yunlong Liu (yliu120)
	submit = group user/Yunlong Liu (yliu120)
[access "refs/heads/*"]
	read = group user/Yunlong Liu (yliu120)
	create = group user/Yunlong Liu (yliu120)
	push = +force group user/Yunlong Liu (yliu120)
	pushMerge = group user/Yunlong Liu (yliu120)
[access "refs/tags/*"]
	push = group user/Yunlong Liu (yliu120)
	push = +force group user/Yunlong Liu (yliu120)
